/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
        padding: 1rem;
      }
  
      .highlights {
        flex-direction: column;
        align-items: center;
        width: 100%;
        .highlight-card {
          width: 100%;
          margin-bottom: 1.5em;
  
          h2 {
            font-size: 1em;
            width: 100% !important;
          }
  
          p {
            font-size: 1em;
            width: 100%;
          }
        }
      }
  
      .cta {
        button {
          padding: 0.6rem 1.5rem;
          font-size: 1rem;
        }
      }
}


/* iPads/tablet (portrait and landscape) */
/* @media only screen and (min-device-width: 601px) and (max-device-width: 1024px) {} */
