.async-background {
    margin: 2em;
    h2 {
        text-align: left;
    }
    .async-container {
        background-color: #dcdbdb;
        border-radius: 1%;
        height: 100%;
        padding: 1em;
        .title {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #ccc;
            padding: 1em;
            .control {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                .back {
                    cursor: pointer;
                }
                .back:hover {
                    cursor: pointer;
                    opacity: 0.5;
    
                }
                h3 {
                    margin-top: 1em; 
                }
            }
            .fund-area {
                .fund {
                    //display: flex;
                    font-weight: bold;
                    margin-top: 1em;
                }
            }
        }
      
    }
}




$primary-color: #4d90fe;  
$secondary-color: #fff;  
$border-color: #ddd;  
$hover-shadow: rgba(0, 0, 0, 0.1);  
$font-color: rgb(224, 149, 9);  
$border-radius: 8px;  

.cart {  
    padding: 20px;  

    h2 {  
        text-align: center;  
        margin-bottom: 20px;  
    }  

    .cart-items {  
        display: grid;  
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));  
        gap: 20px;  

        @media (max-width: 768px) {  
            grid-template-columns: 1fr; // Stacks items on smaller screens  
        }  
    }  

    .cart-item {  
        display: flex;  
        flex-direction: column;  
        border: 1px solid $border-color;  
        border-radius: $border-radius;  
        padding: 10px;  
        background-color: $secondary-color;  
        box-shadow: 0 2px 4px $hover-shadow;  
        transition: box-shadow 0.2s;  

        &:hover {  
            box-shadow: 0 4px 8px $hover-shadow;  
        }  

        .product-img {  
            width: 100%;  
            height: auto;  
            border-radius: $border-radius;  
        }  

        .item-details {  
            display: flex;  
            flex-direction: column;  
            align-items: flex-start;  
            margin-top: 10px;  
        }  

        .item-actions {  
            margin-top: 10px;  
            display: flex;  
            gap: 10px;  

            button {  
                margin: 5px;  
            }  
        }  
    }  

    .cart-summary {  
        margin-top: 20px;  
        text-align: center;  
    }  

    .cart-empty {  
        text-align: center;  

        p {  
            font-weight: bolder;  
            color: $font-color;  
        }  
    }  
}