<section class="async-background">
    <h2>Monthly Product Order</h2>

    <section class="async-container">
        <div class="title">
            <h3>Product List</h3>
            <div class="fund-area">
                <a mat-list-item (click)="checkout()" title="Checkout" mat-raised-button>
                    <mat-icon>shopping_cart_checkout</mat-icon>Cart Checkout
                </a>

                <div class="fund">
                    <span>Cost: {{currentCost | currency:'₦':'symbol':'1.2-2'}}</span>
                    <mat-icon class="clear-cart" matTooltip="Clear cart" (click)="clearCart()">clear</mat-icon>
                </div>
            </div>
        </div>

        <div class="search">
            <mat-form-field appearance="outline">
                <mat-label>Filter by products name</mat-label>
                <input matInput type="search" name="filterProducts" [(ngModel)]="filterText">
            </mat-form-field>
        </div>

        <section class="main">
            <div class="product-grid">
                <div class="product-card" 
                     *ngFor="let product of products | productFilter:filterText"
                     [ngClass]="{'selected': selectedProducts.has(product._id)}"> <!-- Apply class if selected -->
                    <img src="/img/products/{{product.img}}.PNG" alt="{{product.name | titlecase}}">
                    <h3>{{product.name | titlecase}}</h3>
                    <p>{{product.price | currency:'₦':'symbol':'1.0-0' }}</p>
                    <button mat-flat-button (click)="openDialog(product)">Learn more</button>
                    <button mat-flat-button (click)="addToCart(product)">Add to Cart</button>
                </div>
            </div>
        </section>
    </section>
</section>
