<section class="breadcrumb-wrapper">
    <div class="breadcrumb">
        <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop()">Dashboard</a> &gt;
        <a>Tools</a> &gt;
        <a>Contacts</a> &gt;
        <span>Manage contacts</span>
    </div>
</section>

<section class="async-background ">
    <h2>Manage Prospect Contact List <mat-icon (click)="showDescription()">help</mat-icon></h2>

    <section class="async-container">

        <div class="title">
            <h3>Contact List</h3>
            <div class="action-area">
                <mat-button-toggle-group>
                    <mat-button-toggle routerLink="../../contacts/new" routerLinkActive="active" (click)="scrollToTop()" title="Create Campaign"><mat-icon>add</mat-icon> New Contact</mat-button-toggle>
                    <mat-button-toggle routerLink="../../../prospects/general-list" routerLinkActive="active" (click)="scrollToTop()" title="Prospect List"><mat-icon>groups</mat-icon> General Prospect List</mat-button-toggle>
                    <mat-button-toggle routerLink="../../../prospects/personal-list" routerLinkActive="active" (click)="scrollToTop()" title="Prospect List"><mat-icon>group</mat-icon> My Prospect List</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>

        <ng-container *ngIf="!isEmptyRecord">
            <div class="search">
                <mat-form-field appearance="outline">
                    <mat-label>Filter by prospect name</mat-label>
                    <input matInput type="search" name="contactFilter" [(ngModel)]="filterText" (ngModelChange)="applyNameFilter($event)">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Filter contact by status</mat-label>
                    <mat-select [(value)]="filterStatus" (selectionChange)="applyStatusFilter()">
                        <mat-option  value="">Remove filter</mat-option>
                        <mat-option  value="New Prospect">New Prospect</mat-option>
                        <mat-option  value="Contacted">Contacted</mat-option>
                        <mat-option  value="Follow-Up Scheduled">Follow-Up Scheduled</mat-option>
                        <mat-option  value="Engaged">Engaged</mat-option>
                        <mat-option  value="Sent Information">Sent Information</mat-option>
                        <mat-option  value="Awaiting Response">Awaiting Response</mat-option>
                        <mat-option  value="Interested">Interested</mat-option>
                        <mat-option  value="Nurturing">Nurturing</mat-option>
                        <mat-option  value="Closing">Closing</mat-option>
                        <mat-option  value="Booked for Session">Booked for Session</mat-option>
                        <mat-option  value="Member">Member</mat-option>
                        <mat-option  value="Not Interested">Not Interested</mat-option>
                        <mat-option  value="Disqualified">Disqualified</mat-option>
                        <mat-option  value="Inactive">Inactive</mat-option>
                        <mat-option  value="Re-engagement">Re-engagement</mat-option>
                        <mat-option  value="Archive">Archive</mat-option>
                        <mat-option  value="Partner">Partner</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <div class="summary-action">

                <div class="summary-area">
                    <mat-chip-set>
                        <mat-chip>
                            <span class="mat-chip">
                                Total contacts:
                            </span>
                            <span class="value">
                                {{ getTotalContacts() }}
                            </span>
                        </mat-chip>

                        <mat-chip>
                            <span class="mat-chip">
                                Channel: 
                                Link  <span class="value">{{ getTotalOnlineContacts() }}</span>, 
                                Others  <span class="value">{{ ( getTotalContacts() - getTotalOnlineContacts() ) }}</span>
                            </span>
                       </mat-chip>

                        <mat-chip>
                            <span class="mat-chip">
                                Today's contact: 
                                <span class="value">
                                    {{ dailyNewContacts }}
                                </span>
                            </span>
                        </mat-chip>

                        <mat-chip>
                            <span class="mat-chip">
                                This week's contact: 
                                <span class="value">
                                    {{ weeklyNewContacts  }}
                                </span>
                            </span>
                        </mat-chip>

                        <mat-chip>
                            <span class="mat-chip">
                                This month's contact: 
                                <span class="value">
                                    {{ monthlyNewContacts }}
                                </span>
                            </span>
                        </mat-chip>

                        <mat-chip *ngIf="filteredContactCount !== 0 && filteredContactCount !== getTotalContacts()">
                            <span class="mat-chip">
                              {{filterStatus}}:
                            </span>
                            <span class="value">
                              {{ filteredContactCount }}
                            </span>
                        </mat-chip>
                        
                    </mat-chip-set>

                </div>

                <div class="export-button">
                    <mat-button-toggle-group>
                        <mat-button-toggle value="contacts" (click)="onExportControlChange('contacts')"><mat-icon>smartphone</mat-icon> Export Selected Contacts</mat-button-toggle>
                        <mat-button-toggle value="emails" (click)="onExportControlChange('emails')"><mat-icon>mail</mat-icon> Export Selected Emails</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>

            </div>
    
            <div class="table">
    
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? selectAll($event.checked) : null"
                                        [checked]="isAllSelected()"
                                        [indeterminate]="isSomeSelected()">
                        </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let element">
                        <mat-checkbox (change)="toggleSelection(element)" [checked]="selection.has(element)">
                        </mat-checkbox>
                        </td>
                    </ng-container>
    
                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                  
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Name </th>
                      <td mat-cell *matCellDef="let element" style="cursor: pointer;" class="bold-text" matTooltip="{{element.prospectRemark}}" [matTooltipShowDelay]="500" [matTooltipHideDelay]="100" (click)="preview(element._id)"> {{element.prospectName | titlecase }} {{element.prospectSurname | titlecase}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="phone">
                      <th mat-header-cell *matHeaderCellDef> Phone </th>
                      <td mat-cell *matCellDef="let element"> {{element.prospectPhone}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="email">
                      <th mat-header-cell *matHeaderCellDef> Email </th>
                      <td mat-cell *matCellDef="let element"> {{element.prospectEmail | lowercase}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="channel">
                      <th mat-header-cell *matHeaderCellDef> Channel </th>
                      <td mat-cell *matCellDef="let element"> {{element.prospectSource}} </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                      <th mat-header-cell *matHeaderCellDef> Status </th>
                      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                    </ng-container>

                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.createdAt | date}} </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
                        [ngClass]="{
                        'partner': row.status === 'Partner', 
                        'member': row.status === 'Member',
                        'closing': row.status === 'Closing',
                        'not-interested': row.status === 'Not Interested'
                        }"
                    ></tr>  

                </table>

                <mat-paginator [pageSizeOptions]="[10, 20, 30, 60, 100]" showFirstLastButtons></mat-paginator>
    
            </div>
        </ng-container>
        <ng-container *ngIf="isEmptyRecord">
            <p class="no-campaign">No prospect contact available yet</p>
        </ng-container>
        
    </section>
    
</section>