<section class="async-background ">
    <h2>Manage Prospect List <mat-icon (click)="showDescription()">help</mat-icon></h2>

    <section class="async-container">

        <div class="title">
            <h3>Online Survey List</h3>
            <div class="action-area">
                <a mat-list-item routerLink="../manage-contacts" routerLinkActive="active" (click)="scrollToTop()" title="Create Campaign" mat-raised-button><mat-icon>view_list</mat-icon>Contact List</a>

                <!-- <div class="action">
                    Prepaid balance
                    N5,000
                </div> -->
            </div>
        </div>

        <mat-progress-bar mode="indeterminate" *ngIf="isSpinning" class="progress-bar"></mat-progress-bar>

        <ng-container *ngIf="!isEmptyRecord">
            <div class="search">
                <mat-form-field appearance="outline">
                    <mat-label>Filter by prospect name</mat-label>
                    <input matInput type="search" name="contactFilter" [(ngModel)]="filterText">
                </mat-form-field>
            </div>
    
            <div class="table">
    
    
                <table mat-table [dataSource]="dataSource | prospectListFilter:filterText" class="mat-elevation-z8">
    
                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                  
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.name | titlecase }} {{element.surname | titlecase}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="phone">
                      <th mat-header-cell *matHeaderCellDef> Phone Number </th>
                      <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="email">
                      <th mat-header-cell *matHeaderCellDef> Email Address </th>
                      <td mat-cell *matCellDef="let element"> {{element.email | lowercase}} </td>
                    </ng-container>
    
                   <!--  <ng-container matColumnDef="channel">
                      <th mat-header-cell *matHeaderCellDef> Channel </th>
                      <td mat-cell *matCellDef="let element"> {{element.prospectSource}} </td>
                    </ng-container> -->

                   <!--  <ng-container matColumnDef="status">
                      <th mat-header-cell *matHeaderCellDef> Status </th>
                      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                    </ng-container> -->
    
                  <!--   <ng-container matColumnDef="remark">
                        <th mat-header-cell *matHeaderCellDef> Remark/Comment </th>
                        <td mat-cell *matCellDef="let element"> {{element.prospectRemark}} </td>
                    </ng-container> -->

                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.updatedAt | date}} </td>
                    </ng-container>
    

                    <ng-container matColumnDef="detail">
                        <th mat-header-cell *matHeaderCellDef> Detail </th>
                        <td mat-cell *matCellDef="let element" style="cursor: pointer;"> 
                            <mat-icon (click)="ViewResponse(element)" title="View detailed responses">preview</mat-icon>
                            <mat-icon (click)="deleteProspect(element._id)" title="Delete" style="margin-left: 1em; color: red;">delete</mat-icon>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element" style="cursor: pointer;"> 
                            <button (click)="moveToContact(element._id)" mat-button>Move to Contact</button>
                        </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
    
    
            </div>
        </ng-container>
        <ng-container *ngIf="isEmptyRecord">
            <p class="no-campaign">No prospect contact available yet</p>
        </ng-container>

       

        
    </section>
    
</section>