.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10em 0 -1em 0.5em;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 0.5em;
  //background-color: red;
  width: 100%;
  img {
    width: 3em;
    height: 3em;
    border-radius: 50%;
  }
  .name {
    font-size: 0.7em;
  }
  .title {
    font-size: 0.6em;
    color: gray;
    //margin-top: 0.8em;
  }
  .social {
    a {
      margin-right: 1em;
      font-size: small;
      color: black;
      cursor: pointer;
      .fa-linkedin {
        color: #0077B5;
      }
      .fa-linkedin:hover {
        opacity: 0.5;
      }
      .fa-facebook {
        color: #1877F2;
      }
      .fa-facebook:hover {
        opacity: 0.5;
      }
      .fa-twitter {
        color: #1DA1F2;
      }
      .fa-twitter:hover {
        opacity: 0.5;
      }
    }
  }
}