.async-background {
    margin: 2em;
    .async-container {
        background-color: #dcdbdb;
        border-radius: 1%;
        height: 100%;
        padding: 1em;
        .title {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #ccc;
            padding: 1em;
            .fund-area {
                .fund {
                    //display: flex;
                    font-weight: bold;
                    margin-top: 1em;
                }
            }
        }

        .search {
            padding: 0.5em 0;
            //display: flex;
            //flex-direction: center;
            text-align: center;
            mat-form-field {
                width: 70%;

            }
        }

       
    }
}

.container {
    padding: 1em 0;
    display: flex;
    mat-card {
        margin: 0 1em;
        .whatsApp {
            color: #075E54;
        }
        .facebook {
            color: #3b5998;
        }
        p {
            font-size: 1.1em;
        }
    }
}


 /* Media Query for Mobile Responsiveness */
 @media screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
        mat-card {
            margin: 1em 0;
        }
    }
 }