<section class="pre-approach-section">
    <div class="header">
      <h2>Pre-approach Document</h2>
      <mat-icon class="help-icon" (click)="showDescription()">help_outline</mat-icon>
    </div>
  
    <div class="content-wrapper">
      <div class="description">
        <h3>Enhance Your Prospecting</h3>
        <p>
          Download the Pre-approach documents to get started with prospecting effectively. Use this tool to structure your approach and optimize your prospecting strategy.
        </p>
      </div>
  
      <div class="tabs-container">
        <mat-tab-group>
          <mat-tab class="mat-tab" label="Download Pre-approach Document">
            <div class="download-button-wrapper">
              <button mat-raised-button color="primary" (click)="downloadPreApproachPDF()">
                <mat-icon>download</mat-icon>
                Download Pre-approach Document
              </button>
            </div>
          </mat-tab>
          <mat-tab class="mat-tab" label="Sample Prospect Chat Response">
            <div class="download-button-wrapper">
              <button mat-raised-button color="primary" (click)="downloadSampleChatResposesPDF()">
                <mat-icon>download</mat-icon>
                Download Sample Prospect Chat Response Document
              </button>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </section>
  