<form (ngSubmit)="onSubmit()" [formGroup]="bulckEmailForm">  
    <mat-form-field appearance="outline" class="sender-id">  
        <mat-label>Email Subject</mat-label>  
        <input matInput placeholder="Ex. Meeting Request: Join Our Online Strategy Discussion on Diamond Project Mentorship - March 15, 2090" formControlName="emailSubject">  
        <mat-error *ngIf="bulckEmailForm.get('emailSubject')?.hasError('required') ">  
            This field is required.  
        </mat-error>   
    </mat-form-field>  

    <mat-form-field appearance="outline" class="email-address">  
      <mat-label>Enter Email Addresses</mat-label>  
      <textarea matInput placeholder="Ex. aleximenwo@async.com, aleximenwo@async.ng, ..." formControlName="prospects"></textarea>  
      <mat-hint align="start"><strong>Separate each email with a comer</strong> </mat-hint>
      <mat-error *ngIf="bulckEmailForm.get('prospects')?.hasError('required') ">  
        At least an email address should be entered  
      </mat-error>  
    </mat-form-field>  

    <mat-form-field appearance="outline" class="email-message">  
        <mat-label>Type Email Messages</mat-label>  
        <textarea matInput placeholder="Email messages here ..." formControlName="emailBody"></textarea>  
        <mat-error *ngIf="bulckEmailForm.get('emailBody')?.hasError('required') ">  
            Enter the email message to be sent   
        </mat-error>  
    </mat-form-field>  

    <button mat-raised-button>Send Email</button>  
</form>