form {
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Ensure the items take full width */  

    .sender-id {
        width: 80%;
    }
    .email-address {
        width: 80%;
        height: 10em;
        margin-top: 20px; 
    }
    .email-message {
        width: 80%;
        height: 15em;
        margin-top: 20px; 
    }

    button {
        width: 20em;
        margin-top: 20px; 
        align-self: center; 
    }
}


 /* Media Query for Mobile Responsiveness */
 @media screen and (max-width: 600px) {
    form {
        .sender-id {
            width: 100%;
        }
        .email-message, .email-address {
            width: 100%;
            height: 10em;
        }
        button {
            width: 100%;
        }
    }
}