
<section class="async-background ">
  <h2>Resource Templates Downloads <mat-icon (click)="showDescription()">help</mat-icon></h2>

  <section class="async-container">
    
    <mat-tab-group>
      <mat-tab label="Download Text Contents"> 
        <async-text-download *ngIf="partner" [partner]="partner"></async-text-download>
      </mat-tab>
      <mat-tab label="Download Image Contents (Banners/Flyers)">
        <async-image-download *ngIf="partner" [partner]="partner"></async-image-download>
      </mat-tab>
      <mat-tab label="Download Video Contents">
        <async-video-download></async-video-download>
      </mat-tab>
    </mat-tab-group>

  </section>
</section>