
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="logo"><async-logo></async-logo></span>
    <span class="nav-spacer"></span>
    
    <ng-content *ngIf="isDesktop">
      <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop()">
        Home
      </a>
      <a mat-button routerLink="auth/partner/signin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop()">
        <mat-icon>output</mat-icon> Sign In
      </a>
      <a mat-button routerLink="auth/partner/signup" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop()">
        <mat-icon>input</mat-icon> Sign Up
      </a>
    </ng-content>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="isMobile">
    <!-- <span>Second Line</span> -->

    <span class="nav-spacer"></span>
    <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop()">Home</a>
      <a mat-button routerLink="auth/partner/signin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop()">
        <mat-icon>output</mat-icon> Sign In
      </a>
      <a mat-button routerLink="auth/partner/signup" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop()">
        <mat-icon>input</mat-icon> Sign Up
      </a>
  </mat-toolbar-row>

</mat-toolbar>

<div *ngIf="isLoading">
  <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
</div>