.main-container {
  background: url('./../../../../../public/img/img1.jpg') no-repeat center center;
  background-size: cover;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  .content {
    display: flex;
    width: 80%;
    .left-content {
      flex: 1;
      padding: 20px;
      color: #000;
      .bold-text {
        font-weight: bold;
        font-size: 4em;
        margin: 1em 0;
      }
      .normal-text {
        font-size: 1.1em;
        width: 70%;
        font-family: cursive;
        color: #ad1457;
      }
    }
    .right-panel {
      flex: 1;
      .panel-content {
        width: 60%;
        height: inherit;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        padding: 0 2em 2em 2em;
        margin: 20px;
        form {
          display: flex;
          flex-direction: column;
          .names-field {
            display: flex;
            justify-content: space-between;
            mat-form-field {
              width: 49%;
            }
          }
          .progress-bar {
            margin-bottom: 1em;
          }
        }
        p {
          font-family: cursive;
          margin-top: 2em;
          a {
            color: #ffab40;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.benefit {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  padding: 2em 0;
  h1, h2, h3 {
    font-family: cursive;
  }
  .sub-title {
    font-size: 1.5em;
    color: rgb(116, 116, 116);
  }
  .benefit-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    padding: 4em;
    .benefit-content {
      .fa-icon {
        font-size: 3em;
        color:#ffab40;
        .fa {
          border-radius: 50%;
          border: 1px solid #bdc16e;
          width: 50px;
          height: 50px;
        }
      }
      p {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }
    }
  }
  .car-portal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -3em;
    .sub-title {
      font-family: cursive;
      width: 40%;
    }
  }
}

.step-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  padding: 2em 0;
  .step-content {
    width: 50%;
    color: white;
    background: #111111;
    border-radius: 20px;
    padding: 1em 0 2em 3em;
    ol {
      li {
        text-align: left;
        p, h2 {
          font-family: cursive;
        }
      }
    }
     h1 {
      text-align: center;
    }
    a {
      float: right;
      margin-right: 3em;
    }
  }
}


.reservation-code-container {
  display: flex;
  align-items: center;
  .form-field {
    flex: 9; /* Takes 90% of the available space */
  }
  
  .fa-icon {
    flex: 1; /* Takes 10% of the available space */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

