<form (ngSubmit)="onSubmit()" [formGroup]="bulckSMSForm">  
    <mat-form-field appearance="outline" class="sender-id">  
        <mat-label>Sender Id</mat-label>  
        <input matInput placeholder="Ex. DiamondProj" maxlength="11" formControlName="senderId" value="C21FG" readonly="true">  
        <mat-error *ngIf="bulckSMSForm.get('senderId')?.hasError('required') ">  
            This field is required.  
        </mat-error>   
    </mat-form-field>  

    <mat-form-field appearance="outline" class="message-phone">  
      <mat-label>Enter Phone Numbers</mat-label>  
      <textarea matInput placeholder="Ex. 08080386208, 07082563895, ..." formControlName="phoneNumbers"></textarea>  
      <mat-hint align="start"><strong>Separate each phone with a comer</strong> </mat-hint>
      <mat-error *ngIf="bulckSMSForm.get('phoneNumbers')?.hasError('required') ">  
        At least a phone number should be entered  
      </mat-error>  
    </mat-form-field>  

    <mat-form-field appearance="outline" class="message-phone">  
        <mat-label>Enter Text Messages</mat-label>  
        <textarea matInput placeholder="Type text messages here ..." formControlName="textMessage" #message maxlength="960"></textarea>  
        <mat-hint align="end"><strong>Pages {{pages}}</strong>, {{message.value.length}} / 160</mat-hint>  
        <mat-error *ngIf="bulckSMSForm.get('textMessage')?.hasError('required') ">  
            Enter the text message to be sent   
        </mat-error>  
    </mat-form-field>  

    <button mat-raised-button>Send SMS</button>  
</form>