<section class="async-background ">
    <h2>Create Bulk SMS List <mat-icon (click)="showDescription()">help</mat-icon></h2>

    <section class="async-container">

        <div class="title">
            <h3>Send New SMS</h3>
            <div class="action-area">
                <a mat-list-item title="Import Numbers from Contact" (click)="importContactPhoneNumbers()" mat-raised-button><mat-icon>cloud_download</mat-icon>Import Numbers from Contact</a>
                <!-- <mat-button-toggle-group>
                    <mat-button-toggle style="background: white" routerLink="../manage-contacts" routerLinkActive="active" (click)="scrollToTop()" title="View contact list"><mat-icon>list</mat-icon>Contact List</mat-button-toggle>
                    <mat-button-toggle style="background: white" (click)="importContacts()" title="Import Contacts from campain prospect list"><mat-icon>cloud_download</mat-icon>Import Prospect from Online</mat-button-toggle>
                </mat-button-toggle-group> -->

            </div>
        </div>


        <div class="container">

            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                <mat-tab label="Enter Phone Numbers">
                    <async-enter-phone-numbers *ngIf="partner" [partner]="partner"></async-enter-phone-numbers>
                </mat-tab>
                <!-- <mat-tab label="Import From Contacts">Content 2</mat-tab> -->
                <!-- <mat-tab label="Upload From Excel File">Content 3</mat-tab> -->
              </mat-tab-group>

        </div>

        
    </section>
    
</section>