<section class="async-background ">
    <h2>Choose a Channel to Promote Your Business</h2>

    <section class="async-container">

        <mat-tab-group>
            <mat-tab label="Facebook"> 
                <async-facebook *ngIf="partner" [partner]="partner"></async-facebook>
            </mat-tab>
            <mat-tab label="Youtube">
                <async-youtube *ngIf="partner" [partner]="partner"></async-youtube>
            </mat-tab>
            <mat-tab label="Google (Search Engine)">
                <!-- <async-google *ngIf="partner" [partner]="partner"></async-google> -->
            </mat-tab>
            <mat-tab label="LinkedIn">
               <!--  <async-linkedin *ngIf="partner" [partner]="partner"></async-linkedin> -->
            </mat-tab>
            <!-- <mat-tab label="Email"> Content 3 </mat-tab> -->
        </mat-tab-group>
        
    </section>
    
</section>