<section class="breadcrumb-wrapper">
    <div class="breadcrumb">
      <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="scrollToTop()">Dashboard</a> &gt;
      <a>Tools</a> &gt;
      <a>SMS</a> &gt;
      <span>SMS log</span>
    </div>
</section>
  
  <section class="async-background">
    <h2>Manage Bulk SMS List <mat-icon (click)="showDescription()">help</mat-icon></h2>
  
    <section class="async-container">
      <div class="title">
        <h3>SMS History</h3>
        <div class="action-area">
          <a mat-list-item routerLink="../send-sms" routerLinkActive="active" (click)="scrollToTop()" title="New SMS" mat-raised-button>
            <mat-icon>add</mat-icon>New SMS
          </a>
        </div>
      </div>
  
      <ng-container *ngIf="!isEmptyRecord">
        <div class="search">
          <mat-form-field appearance="outline">
            <mat-label>Filter by sms message</mat-label>
            <input matInput type="search" name="smsFilter" [(ngModel)]="filterText" (input)="filterSMS()" />
          </mat-form-field>
        </div>
  
        <div class="table">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="reference">
              <th mat-header-cell *matHeaderCellDef> Reference </th>
              <td mat-cell *matCellDef="let element"> {{ element.transaction.reference }} </td>
            </ng-container>
            <ng-container matColumnDef="message">
              <th mat-header-cell *matHeaderCellDef> Message </th>
              <td mat-cell *matCellDef="let element"> {{ element.smsBody | truncate:50 }} </td>
            </ng-container>
            <ng-container matColumnDef="recipients">
              <th mat-header-cell *matHeaderCellDef> Recipients </th>
              <td mat-cell *matCellDef="let element"> {{ element.prospect | truncate:35 }} </td>
            </ng-container>
            <ng-container matColumnDef="cost">
              <th mat-header-cell *matHeaderCellDef> Cost </th>
              <td mat-cell *matCellDef="let element"> {{ element.transaction.amount | currency:'₦':'symbol':'1.2-2' }} </td>
            </ng-container>
            <ng-container matColumnDef="pages">
              <th mat-header-cell *matHeaderCellDef> Pages </th>
              <td mat-cell *matCellDef="let element"> {{ pages(element.smsBody) }} </td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element"> {{ element.status }} </td>
            </ng-container>
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef> Date </th>
              <td mat-cell *matCellDef="let element"> {{ element.createdAt | date }} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openSMSDetailDialog(row)"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[10, 20, 30, 60, 100]" showFirstLastButtons></mat-paginator>
        </div>
      </ng-container>
  
      <ng-container *ngIf="isEmptyRecord">
        <p class="no-campaign">No record available yet</p>
      </ng-container>
    </section>
  </section>
  