<section class="async-background">  
    <h2>Transaction activities</h2>  
  
    <section class="async-container">  
      <div class="title">  
        <h3>Billing Summary</h3>  
        <div class="fund-area">  
          <button mat-raised-button (click)="addFund()" style="margin-right: 5px;"><mat-icon>credit_card</mat-icon>Add Fund</button>  
          <button mat-flat-button (click)="withdrawFund()"><mat-icon>paid</mat-icon>Withdraw Fund</button>  
          <div class="fund">  
            <span>Current Balance: {{currentBalance | currency:'₦':'symbol':'1.2-2'}}</span>  
            <mat-icon (click)="reloadBalance()" title="Refresh balance" class="refresh">refresh</mat-icon>  
          </div>  
        </div>  
      </div>  

      <async-transactions *ngIf="partner && transactions" [partner]="partner" [transactions]="transactions"></async-transactions>

      
    </section>  
  </section>