
.form {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: flex-start;
    mat-form-field {
        padding: 0.5em;
    }
    .ad-preference {
        border: 1px solid gray;
        border-radius: 2%;
        padding: 0 1em;
        margin-top: 0.7em;
    }
}
       
.publish {
    float: right;
}