

  <section class="async-background">
    <h2>Landing Page Settings  <mat-icon class="help" (click)="showDescription()">help</mat-icon></h2>

    <section class="async-container">
        <div class="title">
            <h3>Partner Page Setup</h3>
           <!--  <div class="action-area">
                <a mat-list-item routerLink="../create-campaign" routerLinkActive="active" (click)="scrollToTop()" title="Create Campaign" mat-raised-button><mat-icon>add</mat-icon>New Campaign</a>
            </div> -->
        </div>

        <div class="content">

            <mat-tab-group>
                <mat-tab label="Social Medial Settings">
                    <async-social-media-settings *ngIf="partner" [partner]="partner"></async-social-media-settings>
                </mat-tab>
                <!-- <mat-tab label="Testimonial Video Upload"> Content 2 </mat-tab> -->
                <mat-tab label="Testimonial Write Up"> 
                    <async-testimonial-writeup-settings *ngIf="partner" [partner]="partner"></async-testimonial-writeup-settings>
                </mat-tab>
            </mat-tab-group>
  
              
        </div>
    </section>
</section>