<section class="async-background">
    <h2>Campaigns Details</h2>

    <section class="async-container">
        <div class="title">
            <div class="control">
                <div class="back" (click)="back()" title="Back">
                    <mat-icon>arrow_back</mat-icon>
                </div>
                <!-- <button mat-raised-button><mat-icon>download</mat-icon>Download</button> -->
            </div>
            <h3>Ad Campaign Details</h3>
        </div>

        

            <section class="flex-container">  
                <article class="flex-item">  
                    <h2>Ads information</h2>  
                    <!-- <p>Ads information</p> -->
    
                        <div class="list">
                            <h5> Campaign </h5>
                            <span class="data">{{campaignData.campaignName | titlecase}} </span>
                        </div>
                        <mat-divider></mat-divider>

    
                        <div class="list">
                            <h5> Status </h5>
                            <span class="data">{{campaignData.deliveryStatus | titlecase}} </span>
                        </div>
                        <mat-divider></mat-divider>

    
                        <div class="list">
                            <h5> Created Date </h5>
                            <span class="data">{{campaignData.updatedAt | date}} </span>
                        </div>
    
                      
                </article>  
    
                <article class="flex-item">  
                    <h2>Ads Duration</h2>  
                    <!-- <p>The campaign will run for 30 days starting from June 1, 2023.</p>   -->
    
                        <div class="list">
                            <h5> Start Date </h5>
                            <span class="data">{{campaignData.adDuration.campaignStartDate | date}} </span>
                        </div>
                        <mat-divider></mat-divider>

    
                        <div class="list">
                            <h5> End Date </h5>
                            <span class="data">{{ campaignData.adDuration.noEndDate ? 'No end date' : campaignData.adDuration.campaignEndDate | date}}</span>
                        </div>
                        <mat-divider></mat-divider>

    
                        <div class="list">
                            <h5> Duration </h5>
                            <span class="data">{{ campaignData.adDuration.campaignEndDate ? duration + ' days' : 'Continuous' }}</span>
                        </div>
    
                </article>  
    
                <article class="flex-item">  
                    <h2>Ads Objective</h2>  
                    <!-- <p>The main objective is to increase brand awareness.</p>   -->
    
                    <div class="list">
                        <h5> Campaign Objective </h5>
                        <span class="data">{{campaignData.marketingObjectives.adObjective }} </span>
                    </div>
                    <mat-divider></mat-divider>

    
                    <div class="list" *ngIf="campaignData.marketingObjectives.successMeasurement">
                        <h5> Campaign Measurement Metrics </h5>
                        <span class="data">{{campaignData.marketingObjectives.successMeasurement}} </span>
                    </div>
                </article>   

                <article class="flex-item">  
                    <h2>Ads Result</h2>  
                    <!-- <p>The main objective is to increase brand awareness.</p>   -->
    
                    <div class="list">
                        <h5> Ads Number of Visits </h5>
                        <span class="data">{{campaignData.visits }} </span>
                    </div>
                    <mat-divider></mat-divider>

    
                    <div class="list">
                        <h5> Ads Converstion </h5>
                        <span class="data"> </span>
                    </div>
                </article>  
    
                <article class="flex-item">  
                    <h2>Ads Budget</h2>  
                    <!-- <p>The budget for this campaign is $5000.</p>  --> 
    
                    <div class="list">
                        <h5> Ads Budget Amount </h5>
                        <span class="data">{{campaignData.budget.budgetAmount | currency:'₦':'symbol':'1.0-0' }} </span>
                    </div>
                    <mat-divider></mat-divider>

    
                    <div class="list">
                        <h5> Ads Budget Type </h5>
                        <span class="data">{{campaignData.budget.budgetType | titlecase}} </span>
                    </div>
                </article>  
    
               
    
                <article class="flex-item">  
                    <h2>Ads Format</h2>  
                    <!-- <p>Formats include video ads and carousel images.</p>  --> 
    
                    <div class="list">
                        <h5> Ads Format </h5>
                        <span class="data">{{campaignData.adFormat.adFormat | titlecase}} </span>
                    </div>
                    <mat-divider></mat-divider>

    
                    <div class="list">
                        <h5> Target Device </h5>
                        <span class="data">{{campaignData.adFormat.deviceType | titlecase}} </span>
                    </div>
                    <mat-divider></mat-divider>

    
                    <div class="list" *ngIf="campaignData.campaignName === 'Facebook'">
                        <h5> Ads Preferences </h5>
                        <span class="data">
                            <ul>
                                <li *ngFor="let preference of getSelectedAdPreferences()">{{ preference }} </li>
                            </ul>
                        </span>
                    </div>
    
                </article>  
    
    
    
                <article class="flex-item">  
                    <h2>Ads Audience Target</h2>  
                    <!-- <p>The target audience is males and females aged 18-35.</p>   -->
    
                    <div class="list" *ngIf="campaignData.targetAudience.ageRangeTarget">
                        <h5> Campaign Age Range </h5>
                        <span class="data">{{campaignData.targetAudience.ageRangeTarget }} </span>
                    </div>
                    <mat-divider></mat-divider>

    
                    <div class="list" *ngIf="campaignData.targetAudience.educationTarget">
                        <h5> Educational Level</h5>
                        <span class="data">{{campaignData.targetAudience.educationTarget}} </span>
                    </div>
                    <mat-divider></mat-divider>


                    <div class="list" *ngIf="campaignData.targetAudience.genderTarget">
                        <h5> Gender </h5>
                        <span class="data">{{campaignData.targetAudience.genderTarget}} </span>
                    </div>
                    <mat-divider></mat-divider>


                    <div class="list" *ngIf="campaignData.targetAudience.industryTarget">
                        <h5> Industry</h5>
                        <span class="data">{{campaignData.targetAudience.industryTarget}} </span>
                    </div>
                    <mat-divider></mat-divider>


                    <div class="list" *ngIf="campaignData.targetAudience.locationTarget">
                        <h5> Location/Area</h5>
                        <span class="data">{{campaignData.targetAudience.locationTarget}} </span>
                    </div>
                    <mat-divider></mat-divider>


                    <div class="list" *ngIf="campaignData.targetAudience.relationshipTarget">
                        <h5> Marital Status</h5>
                        <span class="data">{{campaignData.targetAudience.relationshipTarget}} </span>
                    </div>
                </article>  
    
            </section>

    </section>


</section>