<section class="async-background">
    <h2>Campaigns Details</h2>

    <section class="async-container">
        <div class="title">
            <div class="control">
                <div class="back" (click)="back()" title="Back">
                    <mat-icon>arrow_back</mat-icon>
                </div>
                <!-- <button mat-raised-button><mat-icon>download</mat-icon>Download</button> -->
            </div>
            <h3>Ad Campaign Details</h3>
        </div>

        

            <section class="flex-container">  
                <article class="flex-item">  
                    <h2>Ads information</h2>  
                    <!-- <p>Ads information</p> -->
                    <mat-list>
    
                        <mat-list-item lines="3">
                            <span matListItemTitle> Campaign </span>
                            <span matListItemLine class="data">{{campaignData.campaignName | titlecase}} </span>
                        </mat-list-item>
    
                        <mat-list-item lines="3">
                            <span matListItemTitle> Status </span>
                            <span matListItemLine class="data">{{campaignData.deliveryStatus | titlecase}} </span>
                        </mat-list-item>
    
                        <mat-list-item lines="3">
                            <span matListItemTitle> Created Date </span>
                            <span matListItemLine class="data">{{campaignData.updatedAt | date}} </span>
                        </mat-list-item>
    
                    </mat-list>
                      
                </article>  
    
                <article class="flex-item">  
                    <h2>Ads Duration</h2>  
                    <!-- <p>The campaign will run for 30 days starting from June 1, 2023.</p>   -->
                    <mat-list>
    
                        <mat-list-item lines="3">
                            <span matListItemTitle title="title"> Start Date </span>
                            <span matListItemLine class="data">{{campaignData.adDuration.campaignStartDate | date}} </span>
                        </mat-list-item>
    
                        <mat-list-item lines="3">
                            <span matListItemTitle> End Date </span>
                            <span matListItemLine class="data">{{ campaignData.adDuration.noEndDate ? 'No end date' : campaignData.adDuration.campaignEndDate | date}}</span>
                        </mat-list-item>
    
                        <mat-list-item lines="3">
                            <span matListItemTitle> Duration </span>
                            <span matListItemLine class="data">{{ campaignData.adDuration.campaignEndDate ? duration + ' days' : 'Continuous' }}</span>
                        </mat-list-item>
    
                    </mat-list>
                </article>  
    
                <article class="flex-item">  
                    <h2>Ads Objective</h2>  
                    <!-- <p>The main objective is to increase brand awareness.</p>   -->
    
                    <mat-list-item lines="3">
                        <span matListItemTitle> Campaign Objective </span>
                        <span matListItemLine class="data">{{campaignData.marketingObjectives.adObjective }} </span>
                    </mat-list-item>
    
                    <mat-list-item lines="3" *ngIf="campaignData.marketingObjectives.successMeasurement">
                        <span matListItemTitle> Campaign Measurement Metrics </span>
                        <span matListItemLine class="data">{{campaignData.marketingObjectives.successMeasurement}} </span>
                    </mat-list-item>
                </article>  

                <article class="flex-item">  
                    <h2>Ads Result</h2>  
                    <!-- <p>The main objective is to increase brand awareness.</p>   -->
    
                    <mat-list-item lines="3">
                        <span matListItemTitle> Ads Number of Visits </span>
                        <span matListItemLine class="data">{{campaignData.visits }} </span>
                    </mat-list-item>
    
                    <mat-list-item lines="3">
                        <span matListItemTitle> Ads Converstion </span>
                        <span matListItemLine class="data"> </span>
                    </mat-list-item>
                </article>  
    
                <article class="flex-item">  
                    <h2>Ads Budget</h2>  
                    <!-- <p>The budget for this campaign is $5000.</p>  --> 
    
                    <mat-list-item lines="3">
                        <span matListItemTitle> Ads Budget Amount </span>
                        <span matListItemLine class="data">{{campaignData.budget.budgetAmount | currency:'₦':'symbol':'1.0-0' }} </span>
                    </mat-list-item>
    
                    <mat-list-item lines="3">
                        <span matListItemTitle> Ads Budget Type </span>
                        <span matListItemLine class="data">{{campaignData.budget.budgetType | titlecase}} </span>
                    </mat-list-item>
                </article>  
    
               
    
                <article class="flex-item">  
                    <h2>Ads Format</h2>  
                    <!-- <p>Formats include video ads and carousel images.</p>  --> 
    
                    <mat-list-item lines="3">
                        <span matListItemTitle> Ads Format </span>
                        <span matListItemLine class="data">{{campaignData.adFormat.adFormat | titlecase}} </span>
                    </mat-list-item>
    
                    <mat-list-item lines="3">
                        <span matListItemTitle> Target Device </span>
                        <span matListItemLine class="data">{{campaignData.adFormat.deviceType | titlecase}} </span>
                    </mat-list-item>
    
                    <mat-list-item lines="3" *ngIf="campaignData.campaignName === 'Facebook'">
                        <span matListItemTitle> Ads Preferences </span>
                        <span matListItemLine class="data">
                            <span *ngFor="let preference of getSelectedAdPreferences()">{{ preference }}, </span>
                        </span>
                    </mat-list-item>
    
                </article>  
    
    
    
                <article class="flex-item">  
                    <h2>Ads Audience Target</h2>  
                    <!-- <p>The target audience is males and females aged 18-35.</p>   -->
    
                    <mat-list-item lines="3" *ngIf="campaignData.targetAudience.ageRangeTarget">
                        <span matListItemTitle> Campaign Age Range </span>
                        <span matListItemLine class="data">{{campaignData.targetAudience.ageRangeTarget }} </span>
                    </mat-list-item>
    
                    <mat-list-item lines="3" *ngIf="campaignData.targetAudience.educationTarget">
                        <span matListItemTitle> Educational Level</span>
                        <span matListItemLine class="data">{{campaignData.targetAudience.educationTarget}} </span>
                    </mat-list-item>
                    <mat-list-item lines="3" *ngIf="campaignData.targetAudience.genderTarget">
                        <span matListItemTitle> Gender </span>
                        <span matListItemLine class="data">{{campaignData.targetAudience.genderTarget}} </span>
                    </mat-list-item>
                    <mat-list-item lines="3" *ngIf="campaignData.targetAudience.industryTarget">
                        <span matListItemTitle> Industry</span>
                        <span matListItemLine class="data">{{campaignData.targetAudience.industryTarget}} </span>
                    </mat-list-item>
                    <mat-list-item lines="3" *ngIf="campaignData.targetAudience.locationTarget">
                        <span matListItemTitle> Location/Area</span>
                        <span matListItemLine class="data">{{campaignData.targetAudience.locationTarget}} </span>
                    </mat-list-item>
                    <mat-list-item lines="3" *ngIf="campaignData.targetAudience.relationshipTarget">
                        <span matListItemTitle> Marital Status</span>
                        <span matListItemLine class="data">{{campaignData.targetAudience.relationshipTarget}} </span>
                    </mat-list-item>
                </article>  
    
            </section>

        


    </section>


</section>