<div class="page">
    <div class="login-panel">
      <h1>Partner Reset Password</h1>
      <h4>We will send you a link to reset your password</h4>
      <form [formGroup]="signInForm" (submit)="onSubmit()">

        <mat-form-field appearance="outline">
          <mat-label>Email address</mat-label>
          <input matInput type="email" formControlName="email">
          <mat-error *ngIf="signInForm.get('email')?.hasError('email') ">
            Email is invalid
          </mat-error>
          <mat-error *ngIf="signInForm.get('email')?.hasError('required') ">
            Email is required
          </mat-error>
        </mat-form-field>

        <button mat-flat-button color="primary">Send</button>

      </form>

      <p>
        <a routerLink="../../partner/signin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Return to login?</a>
      </p>

      <div class="line"></div>

      <p>
        Not a Diamond Project partner yet? <a routerLink="../../partner/signup" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Sign up</a>
      </p>
    </div>
</div>