<section class="breadcrumb-wrapper">
    <div class="breadcrumb">
        <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop()">Dashboard</a> &gt;
        <a>Tools</a> &gt;
        <a>Contacts</a> &gt;
        <span>Create contacts</span>
    </div>
</section>

<section class="async-background ">
    <h2>Create Prospect Contact List <mat-icon (click)="showDescription()">help</mat-icon></h2>

    <section class="async-container">

        <div class="title">
            <h3>New Contact Form</h3>
            <div class="action-area">
                <mat-button-toggle-group>
                    <mat-button-toggle routerLink="../manage-contacts" routerLinkActive="active" (click)="scrollToTop()" title="View contact list"><mat-icon>list</mat-icon> Contact List</mat-button-toggle>
                    <mat-button-toggle (click)="importContacts()" title="Import Contacts from campain prospect list"><mat-icon>cloud_download</mat-icon> Import Prospect from Online</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>


        <div class="form-container">
            <form class="flex-form" [formGroup]="prospectContactForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="prospectName" required>
                        <mat-error *ngIf="prospectContactForm.get('prospectName')?.hasError('required') ">
                            This field is required.  
                        </mat-error> 
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Surname</mat-label>
                        <input matInput type="email" formControlName="prospectSurname">
                        <mat-error *ngIf="prospectContactForm.get('prospectSurname')?.hasError('required') ">
                            This field is required.  
                        </mat-error> 
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Email Address</mat-label>
                        <input matInput formControlName="prospectEmail">
                        <mat-error *ngIf="prospectContactForm.get('prospectEmail')?.hasError('required') "> 
                            This field is required.  
                        </mat-error> 
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Phone Number</mat-label>
                        <input matInput formControlName="prospectPhone" required>
                        <mat-error *ngIf="prospectContactForm.get('prospectPhone')?.hasError('required') ">
                            This field is required.  
                        </mat-error> 
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Source of Contact</mat-label>
                        <mat-select formControlName="prospectSource" required>
                            <mat-option value="Family">Family</mat-option>
                            <mat-option value="Friend">Friend</mat-option>
                            <mat-option value="Relative">Relative</mat-option>
                            <mat-option value="Referrals">Referrals</mat-option>
                            <mat-option value="Social Media">Social Media</mat-option>
                            <mat-option value="Website">Website</mat-option>
                            <mat-option value="Content Marketing">Content Marketing</mat-option>
                            <mat-option value="Email Marketing">Email Marketing</mat-option>
                            <mat-option value="Networking Events">Networking Events</mat-option>
                            <mat-option value="Search Engine Advertising (SEA)">Search Engine Advertising (SEA)</mat-option>
                            <mat-option value="Pay-Per-Click (PPC)">Pay-Per-Click (PPC)</mat-option>
                            <mat-option value="Purchased Lists">Purchased Lists</mat-option>
                            <mat-option value="Partnerships">Partnerships</mat-option>
                            <mat-option value="Offline Marketing">Offline Marketing</mat-option>
                            <mat-option value="Market Research">Market Research</mat-option>
                            <mat-option value="Contact Recommendation">Contact Recommendation</mat-option>
                            <mat-option value="Survey Form">Survey Form</mat-option>
                            <mat-option value="Other Means">Other Means</mat-option>
                        </mat-select>
                        <mat-error *ngIf="prospectContactForm.get('prospectSource')?.hasError('required') ">
                            This field is required.  
                        </mat-error> 
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Short Remark/Comment</mat-label>
                        <textarea matInput formControlName="prospectRemark"></textarea>
                    </mat-form-field>
                </div>


                <div class="form-group"></div>
                <div class="form-group"></div>
                <div class="form-group"></div>
                <button mat-flat-button color="primary">Submit</button>
            </form>
        </div>

        
    </section>
    
</section>