<section class="breadcrumb-wrapper">
    <div class="breadcrumb">
        <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop()">Dashboard</a> &gt;
        <a>Prospect Analytics</a> &gt;
        <a>Converstion Analytics</a> &gt;
        <span>Prospect booking</span>
    </div>
</section>

<section class="async-background ">
    <h2>Manage Prospect Booking <mat-icon (click)="showDescription()">help</mat-icon></h2>

    <section class="async-container">
        <div class="title">
            <h3>Booking Session Details</h3>
<!--             <div class="action-area">
                <a mat-list-item routerLink="../manage-contacts" routerLinkActive="active" (click)="scrollToTop()" title="View contact list" mat-raised-button><mat-icon>view_list</mat-icon>Contact List</a>
            </div> -->
        </div>

        <ng-container *ngIf="!isEmptyRecord">
            <div class="search">
                <mat-form-field appearance="outline">
                    <mat-label>Filter by prospect name</mat-label>
                    <input matInput type="search" name="contactFilter" [(ngModel)]="filterText" (ngModelChange)="applyNameFilter($event)">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Filter booking by status</mat-label>
                    <mat-select  [(value)]="filterStatus" (selectionChange)="applyStatusFilter()">
                      <mat-option value="">Remove filter</mat-option>
                      <mat-option value="Scheduled">Scheduled</mat-option>
                      <mat-option value="No Show from Prospect">No Show from Prospect</mat-option>
                      <mat-option value="No Show from Partner">No Show from Partner</mat-option>
                      <mat-option value="Completed">Completed</mat-option>
                      <mat-option value="Incomplete">Incomplete</mat-option>
                      <mat-option value="Rebooked">Rebooked</mat-option>
                      <mat-option value="In Progress">In Progress</mat-option>
                      <mat-option value="Cancelled">Cancelled</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>


            <div class="summary-area">
                <mat-chip-set>
                    <mat-chip>
                        <span class="mat-chip">
                            Total booked prospect:
                        </span>
                        <span class="value">
                            {{ getTotalContacts() }}
                        </span>
                    </mat-chip>

                    <mat-chip>
                      <span class="mat-chip">
                          Today's bookings: 
                          <span class="value">
                              {{ dailyBookings }}
                          </span>
                      </span>
                  </mat-chip>

                  <mat-chip>
                      <span class="mat-chip">
                          This week's bookings: 
                          <span class="value">
                              {{ weeklyBookings  }}
                          </span>
                      </span>
                  </mat-chip>

                  <mat-chip>
                      <span class="mat-chip">
                          This month's bookings: 
                          <span class="value">
                              {{ monthlyBookings }}
                          </span>
                      </span>
                  </mat-chip>

                    <mat-chip *ngIf="filteredContactCount !== 0 && filteredContactCount !== getTotalContacts()">
                        <span class="mat-chip">
                          {{filterStatus}}:
                        </span>
                        <span class="value">
                          {{ filteredContactCount }}
                        </span>
                    </mat-chip>
                    
                </mat-chip-set>

            </div>

    
            <div class="table">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Name </th>
                      <td mat-cell *matCellDef="let element" class="bold-text" (click)="ViewResponse(element)" style="cursor: pointer;" matTooltip="{{element.description}}" [matTooltipShowDelay]="500" [matTooltipHideDelay]="100"> 
                        {{element.name | titlecase }} {{element.surname | titlecase}} 
                      </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="phone">
                      <th mat-header-cell *matHeaderCellDef> Phone </th>
                      <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="email">
                      <th mat-header-cell *matHeaderCellDef> Email </th>
                      <td mat-cell *matCellDef="let element"> {{element.email | lowercase}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="status">
                      <th mat-header-cell *matHeaderCellDef> Status </th>
                      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                    </ng-container>

                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> Session Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.consultDate | date}} </td>
                    </ng-container>

                    <ng-container matColumnDef="time">
                        <th mat-header-cell *matHeaderCellDef> Session Time </th>
                        <td mat-cell *matCellDef="let element"> {{ element.consultTime }}  </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        [ngClass]="{'moved-to-contact': row.prospectStatus == 'Moved to Contact'}">
                    </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[10, 20, 30, 60, 100]" showFirstLastButtons></mat-paginator>
            </div>
        </ng-container>
        <ng-container *ngIf="isEmptyRecord">
            <p class="no-campaign">No prospect contact available yet</p>
        </ng-container>
    </section>
</section>
