.sidenav-container {
  background: #eee;
  height: 100%;
  .sidenav {
    width: 200px;
    
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }  
}


mat-sidenav {
  display: flex;
  flex-direction: column;
  mat-nav-list {
    margin-top: 12em;
    a {
      
      div {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        mat-icon {
          font-size: 1.2em;
        }
        div {
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
      }
    }
    .sign-out {
      bottom: 0;
      left: 0;
      position: absolute;
      margin-bottom: 1em;
    }
  }
}
mat-sidenav-content {
  .nav-spacer {
    flex: 1 1 auto;
  }
  a {
    color: black;
  }
}

.active {
  color: #ffab40 !important;
  text-decoration:overline;
  font-size: 1.2em;
}

.submenu {
  padding-left: 20px;
  border-bottom: 1px solid #e2e2e2;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
}













