<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    
    <!-- User profile -->
    <mat-toolbar>
      <async-profile *ngIf="partner" [partner]="partner"></async-profile>
    </mat-toolbar>
    <!-- User profile -->

    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop()">
        <div>
          <mat-icon>home</mat-icon> 
          <span>Dashboard</span>
        </div>
      </a>

      <a mat-list-item (click)="toggleSubmenu('tools')" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <div>
          <mat-icon>construction</mat-icon> 
          <span>Tools</span>
        </div>
      </a>
      <div [@submenuToggle]="isSubmenuOpen('tools') ? 'open' : 'closed'" class="submenu">
        <a mat-list-item (click)="toggleSubSubmenu('tools-create-campaign')" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Campaigns</a>
        <div [@submenuToggle]="isSubSubmenuOpen('tools-create-campaign') ? 'open' : 'closed'" class="subsubmenu">
          <a mat-list-item routerLink="create-campaign" routerLinkActive="active" (click)="scrollToTop()" title="Create Campaign">Create Campaign</a>
          <a mat-list-item  routerLink="manage-campaign" routerLinkActive="active" (click)="scrollToTop()" title="Manage Campaign">Manage Campaign</a>
        </div>
        
        <a mat-list-item (click)="toggleSubSubmenu('tools-sms')" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">SMS</a>
        <div [@submenuToggle]="isSubSubmenuOpen('tools-sms') ? 'open' : 'closed'" class="subsubmenu">
          <a mat-list-item routerLink="#" routerLinkActive="active" (click)="scrollToTop()" title="Send SMS">Send SMS</a>
          <a mat-list-item  routerLink="#" routerLinkActive="active" (click)="scrollToTop()" title="Message Log">Message Log</a>
        </div>

        <a mat-list-item (click)="toggleSubSubmenu('tools-contacts')" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Contacts</a>
        <div [@submenuToggle]="isSubSubmenuOpen('tools-contacts') ? 'open' : 'closed'" class="subsubmenu">
          <a mat-list-item routerLink="#" routerLinkActive="active" (click)="scrollToTop()" title="Create Contacts">Create Contacts</a>
          <a mat-list-item  routerLink="#" routerLinkActive="active" (click)="scrollToTop()" title="Manage Contacts">Manage Contacts</a>
        </div>

        <!-- <a mat-list-item routerLink="#" routerLinkActive="active" (click)="scrollToTop()">Create Contacts</a> -->
      </div>


      <a mat-list-item (click)="toggleSubmenu('analytics')" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <div>
          <mat-icon>analytics</mat-icon> 
          <span>Analytics</span>
        </div>
      </a>
      <div [@submenuToggle]="isSubmenuOpen('analytics') ? 'open' : 'closed'" class="submenu">
        <a mat-list-item routerLink="/community1" routerLinkActive="active" (click)="scrollToTop()" title="Performance Reports">Performance Reports</a>
        <a mat-list-item routerLink="/community2" routerLinkActive="active" (click)="scrollToTop()" title="Channel Analytics">Channel Analytics</a>
        <a mat-list-item routerLink="/community2" routerLinkActive="active" (click)="scrollToTop()" title="Conversion Tracking">Conversion Tracking</a>
      </div>


      <a mat-list-item (click)="toggleSubmenu('activities')" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <div>
          <mat-icon>trending_up</mat-icon> 
          <span>Activities</span>
        </div>
      </a>
      <div [@submenuToggle]="isSubmenuOpen('activities') ? 'open' : 'closed'" class="submenu">
        <a mat-list-item routerLink="monthly-purchase" routerLinkActive="active" (click)="scrollToTop()" title="Order Products">Order Products</a>
        <a mat-list-item routerLink="#" routerLinkActive="active" (click)="scrollToTop()" title="Purchases">Purchases</a>
      </div>

      <a mat-list-item (click)="toggleSubmenu('mentorship')" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <div>
          <mat-icon>menu_book</mat-icon> 
          <span>Mentorship</span>
        </div>
      </a>
      <div [@submenuToggle]="isSubmenuOpen('mentorship') ? 'open' : 'closed'" class="submenu">
        <a mat-list-item routerLink="/community1" routerLinkActive="active" (click)="scrollToTop()" title="Cell Meetings">Cell Meetings</a>
        <a mat-list-item routerLink="/community1" routerLinkActive="active" (click)="scrollToTop()">Webinars & Live Sessions</a>
        <a mat-list-item routerLink="/community2" routerLinkActive="active" (click)="scrollToTop()">eBooks & Articles</a>
        <a mat-list-item routerLink="/community2" routerLinkActive="active" (click)="scrollToTop()">Training Videos</a>
      </div>

    
      <a mat-list-item (click)="toggleSubmenu('community')" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <div>
          <mat-icon>groups</mat-icon> 
          <span>Community</span>
        </div>
      </a>
      <div [@submenuToggle]="isSubmenuOpen('community') ? 'open' : 'closed'" class="submenu">
        <a mat-list-item routerLink="/community1" routerLinkActive="active" (click)="scrollToTop()">Forum</a>
        <a mat-list-item routerLink="/community2" routerLinkActive="active" (click)="scrollToTop()">Events</a>
      </div>
    
      <a mat-list-item (click)="toggleSubmenu('settings')" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <div>
          <mat-icon>settings</mat-icon> 
          <span>Settings</span>
        </div>
      </a>
      <div [@submenuToggle]="isSubmenuOpen('settings') ? 'open' : 'closed'" class="submenu">
        <a mat-list-item routerLink="/community1" routerLinkActive="active" (click)="scrollToTop()">Account Settings</a>
        <a mat-list-item routerLink="billing" routerLinkActive="active" (click)="scrollToTop()">Billing</a>
      </div>
      
      <a mat-list-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop()">
        <div>
          <mat-icon>help</mat-icon> 
          <span>Help</span>
        </div>
      </a>
    
      <a class="sign-out" mat-list-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="signOut()">
        <div>
          <mat-icon>logout</mat-icon> 
          <span> Sign Out</span>
        </div>
      </a>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
  <mat-toolbar-row color="primary">
    @if (isHandset$ | async) {
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    }

    <span class="logo"><async-logo></async-logo></span>
    <span class="nav-spacer"></span>
    
    <ng-content *ngIf="isDesktop">
      <a mat-button [matMenuTriggerFor]="manage_accounts">
        <mat-icon>manage_accounts</mat-icon>  User profile
      </a>
      <a mat-button [matMenuTriggerFor]="notifications">
        <mat-icon>notifications</mat-icon> Notification
      </a>
      <!-- <a mat-button routerLink="partner/signup" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop()">
        <mat-icon>input</mat-icon> Sign Up
      </a> -->
    </ng-content>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="isMobile">
    <a mat-button [matMenuTriggerFor]="manage_accounts">
      <mat-icon>manage_accounts</mat-icon>  User profile
    </a>
    <!-- <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop()">Home</a>
    <a mat-button routerLink="partner/signin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop()"><mat-icon>output</mat-icon> Sign In</a>
    <a mat-button routerLink="partner/signup" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop()"><mat-icon>input</mat-icon> Sign Up</a> -->
  </mat-toolbar-row>
     

    
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
    
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #manage_accounts="matMenu">
  <a mat-menu-item routerLink="profile-mgr" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop()"><mat-icon>manage_accounts</mat-icon> Profile manager</a>
  <a mat-menu-item routerLink="team-members" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop()"><mat-icon>groups</mat-icon> Team members</a>
  <a mat-menu-item routerLink="prospect-invite" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop()"><mat-icon>rsvp</mat-icon> Prospect invitation</a>
</mat-menu>
<mat-menu #notifications="matMenu">
  <!-- <button mat-menu-item><mat-icon>manage_accounts</mat-icon> Profile manager</button>
  <button mat-menu-item><mat-icon>groups</mat-icon> Team members</button>
  <button mat-menu-item><mat-icon>rsvp</mat-icon> Invitation</button> -->
</mat-menu>