<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    
    <!-- User profile -->
    <mat-toolbar>
      <async-profile *ngIf="partner" [partner]="partner"/>
    </mat-toolbar>
    <!-- User profile -->

    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop(); isHandset && drawer.close()" title="Dashboard">
        <div>
          <mat-icon>home</mat-icon> 
          <span>Dashboard</span>
        </div>
      </a>

      <a mat-list-item (click)="toggleSubmenu('tools')" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <div>
          <mat-icon>construction</mat-icon> 
          <span>Tools</span>
        </div>
      </a>
      <div [@submenuToggle]="isSubmenuOpen('tools') ? 'open' : 'closed'" class="submenu">
        <a mat-list-item (click)="toggleSubSubmenu('tools-create-campaign')" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Campaigns</a>
        <div [@submenuToggle]="isSubSubmenuOpen('tools-create-campaign') ? 'open' : 'closed'" class="subsubmenu">
          <a mat-list-item routerLink="tools/campaigns/new" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  (click)="scrollToTop(); isHandset && drawer.close()" title="Create New Campaign"> - New</a>
          <a mat-list-item  routerLink="tools/campaigns/manage" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  (click)="scrollToTop(); isHandset && drawer.close()" title="Manage Campaigns"> - Manage</a>
          <a mat-list-item  routerLink="tools/campaigns/analytics" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  (click)="scrollToTop(); isHandset && drawer.close()" title="Campaign Analytics"> - Analytics</a>
          <a mat-list-item  routerLink="tools/campaigns/link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  (click)="scrollToTop(); isHandset && drawer.close()" title="Unique Link Analytics"> - Unique Link</a>
          <a mat-list-item  routerLink="tools/campaigns/share" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  (click)="scrollToTop(); isHandset && drawer.close()" title="Share Unique Link on Social Media"> - Share Link</a>
        </div>
        
        <a mat-list-item (click)="toggleSubSubmenu('tools-sms')" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">SMS Services</a>
        <div [@submenuToggle]="isSubSubmenuOpen('tools-sms') ? 'open' : 'closed'" class="subsubmenu">
          <a mat-list-item routerLink="tools/sms/new" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  (click)="scrollToTop(); isHandset && drawer.close()" title="Send New SMS"> - New</a>
          <a mat-list-item  routerLink="tools/sms/messages" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"   (click)="scrollToTop(); isHandset && drawer.close()" title="Message Logs"> - Messages</a>
        </div>

        <a mat-list-item (click)="toggleSubSubmenu('tools-email')" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Email Services</a>
        <div [@submenuToggle]="isSubSubmenuOpen('tools-email') ? 'open' : 'closed'" class="subsubmenu">
          <a mat-list-item routerLink="tools/email/new" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  (click)="scrollToTop(); isHandset && drawer.close()" title="Send New SMS"> - New</a>
          <a mat-list-item  routerLink="tools/email/logs" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  (click)="scrollToTop(); isHandset && drawer.close()" title="Email Logs"> - Mails</a>
        </div>

        <a mat-list-item (click)="toggleSubSubmenu('tools-contacts')" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Contacts</a>
        <div [@submenuToggle]="isSubSubmenuOpen('tools-contacts') ? 'open' : 'closed'" class="subsubmenu">
          <a mat-list-item routerLink="tools/contacts/new" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  (click)="scrollToTop(); isHandset && drawer.close()" title="Create New Contact"> - New</a>
          <a mat-list-item  routerLink="tools/contacts/list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  (click)="scrollToTop(); isHandset && drawer.close()" title="Manage Contact List">- List</a>
        </div>
      </div>


      <a mat-list-item (click)="toggleSubmenu('analytics')" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <div>
          <mat-icon>supervisor_account</mat-icon> 
          <span>Prospects</span>
        </div>
      </a>
      <div [@submenuToggle]="isSubmenuOpen('analytics') ? 'open' : 'closed'" class="submenu">
        <a mat-list-item (click)="toggleSubSubmenu('analytics-convertion-tracking')" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" title="Prospect Conversion">
          Conversions
        </a>
        <div [@submenuToggle]="isSubSubmenuOpen('analytics-convertion-tracking') ? 'open' : 'closed'" class="subsubmenu">
          <a mat-list-item routerLink="prospects/general-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop(); isHandset && drawer.close()" title="Manage General Prospect List"> - General List</a>
          <a mat-list-item routerLink="prospects/personal-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop(); isHandset && drawer.close()" title="Personal General Prospect List"> - Personal List</a>
          <a mat-list-item routerLink="prospects/bookings" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop(); isHandset && drawer.close()" title="Prospect Session Bookings"> - Bookings</a>
          <a mat-list-item routerLink="prospects/email-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop(); isHandset && drawer.close()" title="Email Subscription List"> - Email List</a>
        </div>
      </div>
      

      <a mat-list-item (click)="toggleSubmenu('activities')" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <div>
          <mat-icon>shopping_bag</mat-icon> 
          <span>Products</span>
        </div>
      </a>
      <div [@submenuToggle]="isSubmenuOpen('activities') ? 'open' : 'closed'" class="submenu">
        <a mat-list-item (click)="toggleSubSubmenu('product-shopping')" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" title="Product Shopping">
          eShop
        </a>
        <div [@submenuToggle]="isSubSubmenuOpen('product-shopping') ? 'open' : 'closed'" class="subsubmenu">
          <a mat-list-item routerLink="products/eshop" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop(); isHandset && drawer.close()" title="Order New Product"> - New Order</a>
          <a mat-list-item routerLink="products/order-history" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop(); isHandset && drawer.close()" title="Manage Ordered Products"> - Order History</a>
        </div>
      </div>


      <a mat-list-item (click)="toggleSubmenu('mentorship')" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <div>
          <mat-icon>menu_book</mat-icon> 
          <span>Mentorship</span>
        </div>
      </a>
      <div [@submenuToggle]="isSubmenuOpen('mentorship') ? 'open' : 'closed'" class="submenu">
        <a mat-list-item routerLink="mentorship/new-request" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  (click)="scrollToTop(); isHandset && drawer.close()" title="Book a Mentorship Session">Request Mentorship</a>
        <a mat-list-item (click)="toggleSubSubmenu('mentorship-team')" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Manage Team</a>
        <div [@submenuToggle]="isSubSubmenuOpen('mentorship-team') ? 'open' : 'closed'" class="subsubmenu">
          <a mat-list-item routerLink="mentorship/team/new" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop(); isHandset && drawer.close()" title="Create New Team"> - New</a>
          <a mat-list-item  routerLink="mentorship/team/members" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  (click)="scrollToTop(); isHandset && drawer.close()" title="Manage Team Members"> - View Members</a>
        </div>
        <a mat-list-item (click)="toggleSubSubmenu('my-partners')" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Manage Partners</a>
        <div [@submenuToggle]="isSubSubmenuOpen('my-partners') ? 'open' : 'closed'" class="subsubmenu">
          <a mat-list-item  routerLink="mentorship/partners/my-partners" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  (click)="scrollToTop(); isHandset && drawer.close()" title="Manage Your Partners"> - View Partners</a>
        </div>
      </div>

      <a mat-list-item (click)="toggleSubmenu('training')" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <div>
          <mat-icon>library_books</mat-icon> 
          <span>Resources</span>
        </div>
      </a>
      <div [@submenuToggle]="isSubmenuOpen('training') ? 'open' : 'closed'" class="submenu">
        <a mat-list-item (click)="toggleSubSubmenu('resource-download')" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" title="Resource ">
          Resource Downloads
        </a>
        <div [@submenuToggle]="isSubSubmenuOpen('resource-download') ? 'open' : 'closed'" class="subsubmenu">
          <a mat-list-item routerLink="resources/ads-contents"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop(); isHandset && drawer.close()" title="Download Ads Contents">Ads Contents</a>
          <a mat-list-item  routerLink="resources/prospecting-contents" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  (click)="scrollToTop(); isHandset && drawer.close()" title="Prospecting Content Downloads">
            Prospecting Content
          </a>
        </div>
        <a mat-list-item (click)="toggleSubSubmenu('resource-download')" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" title="Partners Survey Link" target="_blank" href="https://survey.diamondprojectonline.com/">
          Survey Link
        </a>
      </div>
      <a mat-list-item (click)="toggleSubmenu('settings')" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <div>
          <mat-icon>settings</mat-icon> 
          <span>Settings</span>
        </div>
      </a>
      <div [@submenuToggle]="isSubmenuOpen('settings') ? 'open' : 'closed'" class="submenu">
        <a mat-list-item routerLink="settings/profiles" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop(); isHandset && drawer.close()" title="Account settings">Account Settings</a>
        <a mat-list-item routerLink="settings/landing-page" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop(); isHandset && drawer.close()" title="Landing Page Settings">Landing Page Settings</a>
        <a mat-list-item routerLink="settings/billing" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop(); isHandset && drawer.close()" title="Manage Billings">Billing</a>
      </div>
      
      <a mat-list-item (click)="toggleSubmenu('help')" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <div>
          <mat-icon>help</mat-icon> 
          <span> Support</span>
        </div>
      </a>
      <div [@submenuToggle]="isSubmenuOpen('help') ? 'open' : 'closed'" class="submenu">
        <a mat-list-item routerLink="support/ticket" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop(); isHandset && drawer.close()" title="Submit a Ticket">Submit a Ticket</a>
        <a mat-list-item routerLink="support/about/app" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop(); isHandset && drawer.close()" title="About Application">About App</a>
      </div>
    
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
  <mat-toolbar-row color="primary">
    @if (isHandset$ | async) {
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    }

    <span class="logo">
      <async-logo/>
    </span>
    <span class="nav-spacer"></span>
    
    @if (isDesktop && partner) {
      <ng-content>
        @if (partner.role === 'admin') {
          <ng-container>
            <a mat-button [matMenuTriggerFor]="admin">
              <mat-icon>admin_panel_settings</mat-icon> Administrator
            </a>
          </ng-container>
        }
        <a mat-button [matMenuTriggerFor]="notifications">
          <mat-icon matBadge="{{ notificationCount }}" matBadgeColor="warn" matBadgeHidden="{{ notificationCount === 0 }}">
            notifications
          </mat-icon>
          Notification
        </a>
        <a mat-button (click)="signOut()" title="Sign off application">
          <mat-icon>power_settings_circle</mat-icon> Sign Off
        </a>
      </ng-content>
    }
  </mat-toolbar-row>

  @if (isMobile && partner) {
    <mat-toolbar-row>
      @if (partner.role === 'admin') {
        <a mat-button [matMenuTriggerFor]="admin">
          <mat-icon>admin_panel_settings</mat-icon> Administrator
        </a>
      }
     <a mat-button [matMenuTriggerFor]="notifications">
        <mat-icon matBadge="{{ notificationCount }}" matBadgeColor="warn" matBadgeHidden="{{ notificationCount === 0 }}">
          notifications
        </mat-icon>
        Notification
      </a>
      <a mat-button (click)="signOut()" title="Sign off application">
        <mat-icon>power_settings_circle</mat-icon> Sign Off
      </a>
    </mat-toolbar-row>
  }

  <!-- Add Content Here -->
  <router-outlet/>
    
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #admin="matMenu">
  <a mat-menu-item routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop()"><mat-icon>manage_accounts</mat-icon> Activate New Partner</a>
  <a mat-menu-item routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop()"><mat-icon>paid</mat-icon> Approve Withdrawal Request</a>
  <a mat-menu-item routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop()"><mat-icon>rsvp</mat-icon> See New Product Orders</a>
</mat-menu>

<mat-menu #notifications="matMenu">
  <async-push-notifications 
   *ngIf="partner"
   [partner]="partner"
   (notificationCountChange)="updateNotificationCount($event)"
  />
</mat-menu>
W