
<mat-accordion>
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title> Personal Information </mat-panel-title>
        </mat-expansion-panel-header>
      
        <div class="form-container">
          <form class="flex-form" [formGroup]="profileMgrForm">
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" required>
                <mat-error *ngIf="profileMgrForm.get('name')?.hasError('required') ">
                  This is required
                </mat-error>
              </mat-form-field>
            </div>
      
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Surname</mat-label>
                <input matInput type="email" formControlName="surname" required>
                <mat-error *ngIf="profileMgrForm.get('surname')?.hasError('required') ">
                  This is required
                </mat-error>
              </mat-form-field>
            </div>
      
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Email Address</mat-label>
                <input matInput formControlName="email" required>
                <mat-error *ngIf="profileMgrForm.get('email')?.hasError('required') ">
                  This is required
                </mat-error>
              </mat-form-field>
            </div>
      
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Phone Number</mat-label>
                <input matInput formControlName="phone" required>
                <mat-error *ngIf="profileMgrForm.get('phone')?.hasError('required') ">
                  This is required
                </mat-error>
              </mat-form-field>
            </div>
      
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Reservation Code</mat-label>
                <input matInput formControlName="reservationCode" readonly="true" required>
                <mat-error *ngIf="profileMgrForm.get('reservationCode')?.hasError('required') ">
                  This is required
                </mat-error>
              </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field appearance="outline">
                  <mat-label>Date of Birth</mat-label>
                  <input matInput [matDatepicker]="dobDatePicker" formControlName="dobDatePicker" [max]="minDate">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="dobDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #dobDatePicker></mat-datepicker>
                </mat-form-field>
              </div>
    

            <section class="address-section">

                <div formGroupName="address" class="address-container">
                    <mat-form-field appearance="outline">
                      <mat-label>Street</mat-label>
                      <input matInput formControlName="street" placeholder="Enter street" />
                      <mat-error *ngIf="profileMgrForm.get('address.street')?.invalid && profileMgrForm.get('address.street')?.touched">
                        Street is required.
                      </mat-error>
                    </mat-form-field>
                
                    <mat-form-field appearance="outline">
                      <mat-label>City</mat-label>
                      <input matInput formControlName="city" placeholder="Enter city" />
                      <mat-error *ngIf="profileMgrForm.get('address.city')?.invalid && profileMgrForm.get('address.city')?.touched">
                        City is required.
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Country</mat-label>
                        <mat-select formControlName="country" (selectionChange)="onCountryChange($event.value)">
                          <mat-option *ngFor="let country of countries" [value]="country">{{ country }}</mat-option>
                        </mat-select>
                      </mat-form-field>

                      <!-- State Field -->
                    <mat-form-field appearance="outline">
                        <mat-label *ngIf="isNigeria">State</mat-label>
                        <mat-select *ngIf="isNigeria" formControlName="state">
                        <mat-option *ngFor="let state of states" [value]="state">{{ state }}</mat-option>
                        </mat-select>
                        <mat-label *ngIf="!isNigeria">Enter State</mat-label>
                        <input *ngIf="!isNigeria" matInput formControlName="state" placeholder="Enter your state of origin" />
                    </mat-form-field>
                </div>

            </section>

            <div class="form-ungroup">
              <mat-form-field appearance="outline">
                <mat-label>Short Bio</mat-label>
                <textarea matInput formControlName="bio"></textarea>
              </mat-form-field>
            </div>              
            
            <div class="form-group">
              <mat-slide-toggle [checked]="status"[disabled]="disabled" (change)="onToggleChange($event)">Active State</mat-slide-toggle>
              <small style="color: gray;">Account Status</small>
            </div>
      
            <div class="form-ungroup">
              <async-profile-picture-upload *ngIf="partner" [partner]="partner"></async-profile-picture-upload>
            </div>
      
            <div class="form-group"></div>
            <button mat-flat-button color="primary" (click)="onProfileSubmit()">Submit</button>
          </form>
        </div>
      </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Profession Information </mat-panel-title>
      </mat-expansion-panel-header>


        <div class="form-container">
            <form class="flex-form" [formGroup]="professionalForm">

                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Job Title</mat-label>
                        <input matInput formControlName="jobTitle" required maxlength="50">
                        <mat-error *ngIf="professionalForm.get('jobTitle')?.hasError('required') ">
                            This is required
                          </mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Educational Background</mat-label>
                        <mat-select formControlName="educationBackground" required>
                            <mat-option value="Basic Education Certificate (Primary School)">Basic Education Certificate (Primary School) </mat-option>
                            <mat-option value="WASSCE">WASSCE</mat-option>
                            <mat-option value="NECO">NECO</mat-option>
                            <mat-option value="GCE">GCE</mat-option>
                            <mat-option value="ND">ND</mat-option>
                            <mat-option value="HND">HND</mat-option>
                            <mat-option value="B.Sc., B.A., B.Eng.">B.Sc., B.A., B.Eng.</mat-option>
                            <mat-option value="M.Sc., M.A., M.B.A.">M.Sc., M.A., M.B.A.</mat-option>
                            <mat-option value="Ph.D.">Ph.D.</mat-option>
                            <mat-option value="NCE">NCE</mat-option>
                            <mat-option value="M.Sc., M.A., M.B.A.">M.Sc., M.A., M.B.A.</mat-option>
                            <mat-option value="None">None</mat-option>
                        </mat-select>
                        <mat-error *ngIf="professionalForm.get('educationBackground')?.hasError('required') ">
                            This field is required.  
                        </mat-error> 
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Best Hobby</mat-label>
                        <input matInput formControlName="hobby" required maxlength="50">
                        <mat-error *ngIf="profileMgrForm.get('hobby')?.hasError('required') ">
                            This is required
                          </mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Best Skill</mat-label>
                        <input matInput formControlName="skill" required maxlength="50">
                        <mat-error *ngIf="profileMgrForm.get('skill')?.hasError('required') ">
                            This is required
                          </mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group"></div>
                <button mat-flat-button color="primary" (click)="onProfessionalSubmit()">Submit</button>
            </form>
        </div>


    </mat-expansion-panel>
  
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Username </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="form-container">
        <form class="flex-form" [formGroup]="usernameForm" (ngSubmit)="onUsernameSubmit()">
            <div class="form-group" style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center;">
                <mat-form-field appearance="outline" style="width: 50%;">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username" required>
                </mat-form-field>
                <mat-icon style="margin: 0  0 1em 6px; cursor: pointer;" (click)="showDescription()">help</mat-icon>
            </div>
            <div class="form-group"></div>
            <div class="form-group">
                Landing page URL: <a href="http://diamondprojectonline.com/{{partner.username | lowercase}}" target="_blank">www.diamondprojectonline.com/{{partner.username | lowercase}}</a>
                Page View: {{partner.visits}}
            </div>
            <button mat-flat-button color="primary">Submit</button>
        </form>
      </div>
  
  

    </mat-expansion-panel>
  
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Password </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="form-container">
        <form class="flex-form" [formGroup]="passwordForm" (ngSubmit)="onPasswordSubmit()">
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label>Current Password</mat-label>
                    <input matInput [type]="hideCurrent() ? 'password' : 'text'" formControlName="currentPassword" required/>
                        <a
                        mat-icon-button
                        matSuffix
                        (click)="onHideCurrent($event)"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hideCurrent()"
                        >
                        <mat-icon>{{hideCurrent() ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </a>
                        <mat-error *ngIf="passwordForm.get('currentPassword')?.hasError('required') ">
                            Password is required
                        </mat-error>
                        <mat-error *ngIf="passwordForm.get('currentPassword')?.errors?.['minlength'] && passwordForm.get('currentPassword')?.touched">  
                          Password must be at least 6 characters long.  
                        </mat-error> 
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input matInput [type]="hideNew() ? 'password' : 'text'" formControlName="newPassword" required/>
                    <a
                    mat-icon-button
                    matSuffix
                    (click)="onHideNew($event)"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hideNew()"
                    >
                    <mat-icon>{{hideNew() ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </a>
                    <mat-error *ngIf="passwordForm.get('newPassword')?.hasError('required') ">
                        Password is required
                    </mat-error>
                    <mat-error *ngIf="passwordForm.get('newPassword')?.errors?.['minlength'] && passwordForm.get('newPassword')?.touched">  
                      Password must be at least 6 characters long.  
                    </mat-error> 
                </mat-form-field>
            </div>
            <div class="form-group"></div>
            <button mat-flat-button color="primary">Submit</button>
        </form>
      </div>
  
    </mat-expansion-panel>
</mat-accordion>
