/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

@include mat.elevation-classes();
@include mat.app-background();

$angular-material-3-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

:root {
  @include mat.all-component-themes($angular-material-3-theme);
}

html, body { height: 100%; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
body { margin: 0; }

.breadcrumb-wrapper {
  border-top: 1px solid rgb(247, 247, 247);
  border-bottom: 1px solid rgb(224, 224, 224);
  display: flex;
  flex-direction: row;
  justify-content: center;
  .breadcrumb {
    padding: 10px;
    //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 0.7em;
    a {
      text-decoration: none;
      color: #071135;
      padding: 0 0.5em;
    }
    a:hover {
      text-decoration: underline;
    }
    span {
      color: #6e6e6e;
      padding: 0 0.5em;
    }
  }
}