<section>
    <h1>Chosee a Channel to Promote Your Business</h1>

    <mat-tab-group>
        <mat-tab label="Facebook"> 
            <async-facebook></async-facebook>
        </mat-tab>
        <mat-tab label="Youtube">
            <async-youtube></async-youtube>
        </mat-tab>
        <mat-tab label="Google (Search Engine)">
            <async-google></async-google>
        </mat-tab>
        <mat-tab label="LinkedIn">
            <async-linkedin></async-linkedin>
        </mat-tab>
        <!-- <mat-tab label="Email"> Content 3 </mat-tab> -->
    </mat-tab-group>
    
</section>