<div class="page">
    <div class="login-panel">
      <h1>Partner Sign in</h1>
      <h2>Log in into your account</h2>
      <form [formGroup]="signInForm" (submit)="onSubmit()">

        <mat-form-field appearance="outline">
          <mat-label>Email address</mat-label>
          <input matInput type="email" formControlName="email">
          <mat-error *ngIf="signInForm.get('email')?.hasError('email') ">
            Email is invalid
          </mat-error>
          <mat-error *ngIf="signInForm.get('email')?.hasError('required') ">
            Email is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
          <mat-error *ngIf="signInForm.get('email')?.hasError('email') ">
            Email is invalid
          </mat-error>
          <a mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </a>
        </mat-form-field>


        <button mat-flat-button color="primary">Sign in</button>

      </form>

      <p>
        <a href="">Forgot password?</a>
      </p>

      <div class="line"></div>

      <p>
        Not a Diamond Project partner yet? <a routerLink="../../partner/signup" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Sign up</a>
      </p>
    </div>
</div>