<section class="async-background">
    <h2>Team members manager</h2>

    <section class="async-container">
        <div class="title">
            <h3><!-- Ad Billing Summary --></h3>
            <div class="fund-area">
                <a mat-raised-button routerLink="../add-members" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="scrollToTop()"><mat-icon>add</mat-icon>Add member</a>

                <!-- <div class="fund">
                    Prepaid balance
                    N5,000
                </div> -->
            </div>
        </div>

        <!-- <div class="search">
            <mat-form-field appearance="outline">
                <mat-label>Filter by transanction amount</mat-label>
                <input matInput placeholder="0.00" type="search">
            </mat-form-field>
        </div> -->

    





    </section>


</section>